Source: zbackup
Section: admin
Priority: optional
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Build-Depends: cmake (>= 2.8.2),
               debhelper (>= 9),
               liblzma-dev,
               libprotobuf-dev,
               libprotoc-dev,
               libssl-dev,
               protobuf-compiler,
               zlib1g-dev
Standards-Version: 3.9.6
Homepage: http://zbackup.org

Package: zbackup
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Versatile deduplicating backup tool
 Uses a 64-bit modified Rabin-Karp rolling hash for data deduplication,
 and SHA256 for backup integrity check.
 .
 Also features LZMA compression & AES encryption.
